# Data Types and Structures Questions

1. What are data structures, and why are they important?
   - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

    Their importants : Choosing the right data structure significantly impacts the efficiency and performance of your program.
Well-chosen data structures can.
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage

2.  Explain the difference between mutable and immutable data types with examples
   - The difference between mutable and immutable data types in programming (especially in Python) centers on whether or not the object’s state (content) can be changed after it is created.

  > Mutable Data Types :
    Definition:
    Objects whose values can be changed after creation.
    Common examples: list, dict, set, bytearray

  >Immutable Data Types :    
    Definition: Objects whose values cannot be changed once created. Any operation that seems to modify them actually creates a new object.
    Common examples: int, float, bool, str, tuple, frozenset, bytes

3. What are the main differences between lists and tuples in Python?
   - The main differences between lists and tuples in Python come down to mutability, syntax, and usage. Here's a clear breakdown.A list is a mutable data type, which means its contents (elements) can be changed after it is created.And a tuple is an immutable data type, which means its contents cannot be changed after it is created.

4. Describe how dictionaries store data.
   - In Python, a dictionary is a built-in data type that stores data in key-value pairs. Each key is unique, and it maps to a value.

5. Why might you use a set instead of a list in Python?
   - You might use a set instead of a list in Python because:

  > Sets automatically remove duplicates.

  > Sets offer faster lookup (O(1) time on average).

  > Sets support mathematical operations like union and intersection.

  > Sets are more efficient when working with unique items.

    Use a set when you need unique values and quick membership tests.

6. What is a string in Python, and how is it different from a list?
   - A string in Python is a sequence of characters used to represent textual data. It is an immutable data type, meaning once a string is created, its contents cannot be changed.

    A list, on the other hand, is a mutable sequence that can hold elements of any data type, including numbers, strings, or other lists. Lists can be modified after creation by adding, removing, or changing elements.

7. How do tuples ensure data integrity in Python?
   - Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This unchangeable nature protects the data from accidental changes during program execution.

    Because tuples are immutable, they maintain consistent and fixed values, which is crucial when data must remain reliable and unchanged. This makes tuples suitable for representing constant data, such as coordinates, dates, or configuration settings.

8. What is a hash table, and how does it relate to dictionaries in Python.
   - A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index into an array of buckets or slots. This index determines where the key-value pair should be stored.

    In Python, the dictionary (dict) is implemented using a hash table. When a key is added to a dictionary:

    Python applies a hash function to the key to generate a unique hash value.

    This hash value determines the index in the internal array where the value will be stored.

    When accessing a value, the key is hashed again, and the result is used to quickly locate the value.
    a hash table is the core mechanism that powers Python's dictionary data type, enabling fast and reliable key-based data storage.
    a hash table is the core mechanism that powers Python's dictionary data type, enabling fast and reliable key-based data storage.

    A hash table is the core mechanism that powers Python's dictionary data type, enabling fast and reliable key-based data storage.

9. Can lists contain different data types in Python?
   - Yes, lists can contain different data types in Python.

    Python lists are heterogeneous, meaning they can store elements of multiple data types within the same list. This includes integers, strings, floats, other lists, or even custom objects.

    This flexibility is possible because Python is a dynamically typed language, allowing each list element to reference a different type of object.

10. Explain why strings are immutable in Python.
   - Strings in Python are immutable, meaning their contents cannot be changed after creation. This design choice is intentional and offers several important benefits.Strings are immutable in Python to provide security, reliability, and efficiency in data handling and program execution.

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries offer several advantages over lists for specific tasks, especially when working with key-based data.
   Dictionaries are more efficient and meaningful than lists when you need:

   > Fast data lookup

   > Meaningful key-based access

   > Associating pairs of related data

    They are especially useful for tasks involving mapping, labeling, and grouping data logically.

12. Describe a scenario where using a tuple would be preferable over a list.
   - A tuple is preferable over a list when you want to store a fixed collection of values that should not be changed throughout the program. Since tuples are immutable, they protect the data from accidental modification.

13. How do sets handle duplicate values in Python?
   - In Python, sets automatically eliminate duplicate values. A set is a collection of unique elements, which means:

    When you add duplicate items to a set, only one copy is stored.

    Internally, Python uses hashing to determine whether an element already exists in the set.

    If an element with the same hash is already present, the new (duplicate) element is ignored.

    Sets handle duplicate values by not allowing them—only one instance of each unique element is kept. This makes sets ideal for storing collections where uniqueness is important.

 14. How does the “in” keyword work differently for lists and dictionaries?
    - The in keyword is used in Python to check membership, but it behaves differently for lists and dictionaries.
    
   >  In lists, in checks for values using linear search.

   >  In dictionaries, in checks for keys using fast hash-based lookup.

15. Can you modify the elements of a tuple? Explain why or why not.
   - No, you cannot modify the elements of a tuple in Python. Tuples are immutable, meaning that once a tuple is created, its elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary is a dictionary within another dictionary. In other words, it allows you to store hierarchical or structured data, where each value in the outer dictionary is itself a dictionary.

17.  Describe the time complexity of accessing elements in a dictionary.
   - In Python, accessing elements in a dictionary by key has an average-case time complexity of O(1) — also known as constant time.

18. In what situations are lists preferred over dictionaries?
   - Lists are preferred when:

     Data is ordered

     Only values are needed

     Indexing is important

     Duplicates are allowed

     Simplicity and sequential data structure are sufficient

     Dictionaries are better for key-based, unordered, or associative data.

19. Why are dictionaries considered unordered, and how does that affect data retrieva?
   - Dictionaries were once considered unordered due to their hash-based structure. Although they now preserve insertion order (in newer Python versions), they are still best used when you need fast lookups by key, not for maintaining or processing data in a specific sequence.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   -  List:
     Retrieval by Index:
     Data is retrieved using a numerical index, such as list[0], list[1], etc.

     Search Speed:
     If you don’t know the index, finding an item requires a linear search (O(n) time complexity).
     
      Dictionary:
     Retrieval by Key:
     Data is retrieved using a unique key, like dict["name"].

     Search Speed:
     Dictionary lookups are fast, with average-case O(1) time complexity, because of hashing.

#Practical Questions

In [87]:
# 1.Write a code to create a string with your name and print it.

my_name = "Jishan"

print(my_name)

Jishan

In [86]:
# 2.Write a code to find the length of the string "Hello World".

text = "Hello World"

length = len(text)

print("Length of the string:", length)

Length of the string: 11

In [85]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"

sliced_text = text[:3]

print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [84]:
# 4.Write a code to convert the string "hello" to uppercase.

text = "hello"

uppercase_text = text.upper()

print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [83]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"

new_text = text.replace("apple", "orange")

print(new_text)

I like orange

In [82]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]

print(numbers)

[1, 2, 3, 4, 5]

In [81]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]

numbers.append(10)

print(numbers)

[1, 2, 3, 4, 10]

In [80]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]

numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

In [79]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']

letters[1]

'b'

In [78]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]

numbers.reverse()

numbers

[50, 40, 30, 20, 10]

In [77]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)

my_tuple

(100, 200, 300)

In [76]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')

colors[-2]

'blue'

In [75]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)

min(numbers)

5

In [74]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')

animals.index('cat')

1

In [73]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the fruits.")
else:
    print("Kiwi is not in the fruits.")

Kiwi is not in the fruits.

In [72]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}

my_set

{'a', 'b', 'c'}

In [71]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}

my_set.clear()

my_set

set()

In [70]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}

my_set.remove(4)

my_set

{1, 2, 3}

In [69]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}

set2 = {3, 4, 5}

union_set = set1.union(set2)

union_set

{1, 2, 3, 4, 5}

In [68]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}

set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

intersection_set

{2, 3}

In [67]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "Jishan",
    "age": 27,
    "city": "Noida"
}
print(person)

{'name': 'Jishan', 'age': 27, 'city': 'Noida'}

In [66]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [65]:
# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}

name_value = person['name']

name_value

'Alice'

In [64]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

person.pop('age')

person

{'name': 'Bob', 'city': 'New York'}

In [63]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("city exists in the person.")
else:
    print("city does not exist in the person.")

city exists in the person.

In [62]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'mango')

my_dict = {'name': 'Jishan', 'age': 27, 'city': 'Noida'}

print("List:", my_list)

print("Tuple:", my_tuple)

print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'mango')
Dictionary: {'name': 'Jishan', 'age': 27, 'city': 'Noida'}

In [57]:
'''27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).'''

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [7, 45, 70, 82, 94]

In [58]:
# 28.Write a code to create a list with strings and print the element at the third index.

words = ["Jishan", "Noida", "Uttarpradesh", "mango", "dataanalyst"]

print("Element at third index:", words[3])

Element at third index: mango

In [59]:
# 29.Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [60]:
# 30.Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "mango", "apple"]

string_set = set(string_list)

print(string_set)

{'mango', 'apple', 'banana'}